@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(red, orange);
    clip-path: circle(30% at right 70%);
}

body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(71, 12, 83), rgb(37, 51, 255));
    clip-path: circle(20% at 10% 10%);
}

body .container {
    width: 200px;
    height: auto;
    margin: 10px;
    outline: none;
    padding: 20px;
    border-radius: 20px;
    z-index: 1;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 8px 32px 0 rgba(67, 64, 64, 0.37);
    backdrop-filter: blur( 4px);
    -webkit-backdrop-filter: blur( 4px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
}

body .container .image {
    border: 2px solid rgba(0, 0, 0, 0.549);
    position: relative;
    width: 90px;
    height: 90px;
    border-radius: 50px;
    overflow: hidden;
    left: 50%;
    transform: translateX(-50%);
}

body .container .image img {
    width: 100%;
    height: 100%;
}

body .container .name h2 {
    text-align: center;
    color: white;
    margin: 10px 0;
}

body .container .skill {
    text-align: center;
    font-size: 15px;
    color: white;
}

body .container .btn {
    display: flex;
    justify-content: center;
}

body .container .btn button {
    padding: 5px 30px;
    color: white;
    margin: 20px 0;
    border: 1px solid rgb(189, 158, 158);
    border-radius: 5px;
    background: transparent;
    cursor: pointer;
}

body .container .social {
    display: flex;
    justify-content: center;
}

.social .icon {
    width: 20px;
    border-radius: 50px;
    height: 20px;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.icon i {
    color: white;
    font-size: 10px;
}

@media screen and (max-width:700px) {
    body {
        flex-direction: column;
        height: 100%;
    }
}